<div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="fab fa-vk"></i></a><a href="#"><i
                class="icon ion-social-instagram-outline"></i></a><a href="#"><i
                class="icon ion-social-whatsapp-outline"></i></a><a href="#"><i class="fab fa-telegram-plane"></i></a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#"></a></li>
            <li class="list-inline-item"></li>
            <li class="list-inline-item"><a href="#">О нас&nbsp;</a></li>
            <li class="list-inline-item"></li>
        </ul>
        <p class="copyright">GreenHouse © 2017</p>
    </footer>
</div>